{% extends 'base_customer.html.twig' %}

{% block title %}Profile{% endblock %}

{% block main %}
<div class="mt-2 flex justify-between p-3 bg-white rounded-lg">
    <div>
        <h1 class="h1">Profile</h1>
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <input class="btn-primary mt-4" type="submit" value="Mettre à jour mon profil">
        <a class="btn-secondary" href="{{ path('app_profile') }}">Retour</a>
        {{ form_end(form) }}
    </div>
    <div>
        <img class="avatar" src="{{app.user.avatar}}">
    </div>
</div>
{% endblock %}
